* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* font styles */
.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared styles */
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.section-subtitle {
  font-size: 22px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}
.section-title {
  font-size: 50px;
  font-weight: 700;
  color: rgb(0, 0, 0);
}
.btn-primary {
  font-weight: 600;
  background-color: rgb(233, 90, 8);
  padding: 19px 88px;
  border: none;
  color: white;
  cursor: pointer;
}

/* nav styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 120px;
}
.navbar ul {
  list-style: none;
}
.navbar a {
  text-decoration: none;
  color: rgb(37, 36, 50);
  font-weight: 700;
}
.navbar li:nth-child(2) a,
.navbar li:nth-child(3) a {
  color: rgb(137, 135, 161);
  font-weight: 400;
}
.navbar li:nth-child(4) a {
  color: rgb(0, 0, 0);
  font-weight: 400;
}
.navbar-items {
  display: flex;
  gap: 48px;
}

/* banner styles */
.banner {
  display: flex;
  align-items: end;
  padding-top: 106px;
  margin-bottom: 120px;
}
.banner-title {
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 13px;
}

/* our plants styles */
.our-plants {
  text-align: center;
  margin-bottom: 210px;
}
.our-plants-title {
  margin-bottom: 16px;
}
.our-plants-description {
  max-width: 888px;
  margin-bottom: 49px;
  margin-left: auto;
  margin-right: auto;
}
.plant-card-title {
  font-size: 22px;
  font-weight: 500;
  color: rgb(17, 17, 17);
  margin-top: 30px;
  margin-bottom: 20px;
}
.plant-card-price {
  font-size: 22px;
  font-weight: 700;
  color: rgb(17, 17, 17);
  margin-bottom: 30px;
}
/* .plant-card button {
  width: 100%;
} */
.our-plants-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 30px;
}
.plant-card {
  text-align: center;
}

/* plants lover styles */
.plants-lover {
  display: flex;
  gap: 60px;
  align-items: center;
  position: relative;
  margin-bottom: 134px;
}
.plants-lover-left img:nth-child(2) {
  width: 286px;
  position: absolute;
  top: -130px;
  right: 510px;
}
.plants-lover-title {
  margin-bottom: 20px;
  max-width: 485px;
}
.plants-lover-subtitle {
  margin-bottom: 20px;
}
.plants-lover-description {
  margin-left: 33px;
}
.lover-badge {
  animation: lover-badge-animation 7s linear infinite;
}

/* animation for lover badge */
@keyframes lover-badge-animation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

/* latest deals section */
.left-image-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4)),
    url("../images/deal-bloom.png");
  background-size: cover;
  border-radius: 10px;
  width: 366px;
  height: 206px;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 19px;
}
.left-image-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4)),
    url("../images/deal-ana.png");
  background-size: cover;
  border-radius: 10px;
  width: 366px;
  height: 206px;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 19px;
}
.latest-deals-images-right {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4)),
    url("../images/deal-zabo.png");
  background-size: cover;
  border-radius: 20px;
  width: 753px;
  height: 437px;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.latest-deals-images {
  display: flex;
  gap: 28px;
}
.left-image-1-title {
  font-size: 20px;
  font-family: 700;
  color: white;
}
.left-image-1-subtitle {
  font-size: 16px;
  font-family: 600;
  color: white;
  text-decoration: underline;
}
.left-image-2-title {
  font-size: 20px;
  font-family: 700;
  color: white;
}
.left-image-2-subtitle {
  font-size: 16px;
  font-family: 600;
  color: white;
}
.right-image-title {
  font-size: 40px;
  font-family: 700;
  color: white;
}
.right-image-subtitle {
  font-size: 28px;
  font-family: 900;
  color: white;
  text-decoration: underline;
}
.latest-deals-images-left {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.latest-deals {
  text-align: center;
  margin-bottom: 120px;
}
.latest-deals-subtitle {
  max-width: 888px;
  margin-top: 16px;
  margin-bottom: 121px;
  margin-left: auto;
  margin-right: auto;
}

/* join section */
.join {
  background-image: url("../images/news-letter-bg.png");
  height: 533px;
  background-repeat: no-repeat;
  background-size: cover;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.join-title {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 23px;
  color: white;
}
.join input {
  padding: 15px 540px 15px 20px;
  border: none;
  font-size: 16px;
  font-weight: 400;
}
.subscribe-btn {
  padding: 15px 53.5px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background-color: rgb(233, 90, 8);
  border: none;
  cursor: pointer;
}
.input-and-btn {
  display: flex;
  gap: 0;
}

/* footer styles */
.footer-middle a {
  text-decoration: none;
  color: rgb(107, 114, 128);
  font-size: 16px;
  font-weight: 400;
}
.footer-middle {
  display: flex;
  column-gap: 110.67px;
  /* row-gap: 32px; */
}
.footer-middle-column-1 {
  list-style: none;
  display: flex;
  flex-direction: column;
  /* grid-template-columns: repeat(2, auto); */
  /* column-gap: 110.67px; */
  row-gap: 32px;
}
.footer-middle-column-2 {
  list-style: none;
  display: flex;
  flex-direction: column;
  /* grid-template-columns: repeat(2, auto); */
  /* column-gap: 110.67px; */
  row-gap: 32px;
}
.footer-contents {
  display: flex;
  gap: 110.67px;
}
.footer-left {
  max-width: 359px;
}
.footer-right-links {
  display: flex;
  gap: 24px;
  align-items: center;
}
.footer-left-subtitle {
  margin-top: 16px;
}
footer {
  max-width: 1120px;
  margin: 50px auto;
}

/* responsive media query */
@media screen and (max-width: 576px) {
  /* shared styles */
  .section-subtitle {
    font-size: 14px;
  }
  /* nav */
  .navbar-items li:nth-child(1) a,
  .navbar-items li:nth-child(2) a,
  .navbar-items li:nth-child(3) a {
    display: none;
  }
  .navbar {
    max-width: 361px;
    margin-top: 67px;
    margin-bottom: 28px;
  }
  .navbar img {
    width: 63px;
  }

  /* banner */
  .banner {
    flex-direction: column-reverse;
    padding-top: 0;
    margin-bottom: 65px;
  }
  .banner-title {
    font-size: 24px;
    margin-top: 28px;
    max-width: 191px;
  }
  .banner-right img {
    width: 100%;
  }
  .banner-left {
    max-width: 360px;
    margin: auto;
  }

  /* our plants */
  .our-plants {
    margin-bottom: 41.5px;
  }
  .our-plants-title {
    font-size: 24px;
  }
  .our-plants-description {
    font-size: 14px;
    margin-bottom: 28px;
    max-width: 336px;
    height: 68px;
    text-align: center;
  }
  .our-plants-cards {
    grid-template-columns: repeat(2, 1fr);
    /* margin-left: 14px;
    margin-right: 17px; */
    max-width: 362px;
    margin: auto;
  }
  .plant-card img {
    width: 100%;
  }
  .plant-card-title {
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .plant-card-price {
    font-size: 16px;
    margin-bottom: 30px;
  }
  .plant-card-button {
    padding: 19px 38px;
  }

  /* plants lover */
  .plants-lover-left img:nth-child(2) {
    display: none;
  }
  .plants-lover-left img:nth-child(1) {
    width: 100%;
  }
  .plants-lover {
    flex-direction: column;
    gap: 24px;
    max-width: 361px;
  }
  .plants-lover-title {
    font-size: 24px;
  }
  .plants-lover-description {
    font-size: 14px;
    margin-left: 22px;
  }
  .plants-lover-title {
    margin-bottom: 16px;
  }
  .plants-lover-subtitle {
    margin-bottom: 16px;
  }

  /* latest deals */
  .latest-deals-images {
    flex-direction: column;
  }
  .latest-deals-images-right {
    width: 361px;
    height: 206px;
    border-radius: 10px;
    gap: 19px;
  }
  .latest-deals-images-left {
    gap: 20px;
  }
  .latest-deals-images {
    gap: 20px;
    max-width: 361px;
    margin-left: auto;
    margin-right: auto;
  }
  .right-image-title {
    font-size: 20px;
  }
  .right-image-subtitle {
    font-size: 16px;
  }
  .latest-deals-title {
    font-size: 24px;
  }
  .latest-deals-subtitle {
    max-width: 336px;
    margin-bottom: 51.5px;
  }
  .latest-deals {
    margin-bottom: 40px;
  }
  .left-image-1 {
    width: 361px;
  }
  .left-image-2 {
    width: 361px;
  }

  /* join */
  .join {
    height: 276px;
  }
  .join-title {
    font-size: 20px;
  }
  .join input {
    padding: 15.5px 15px 15.5px 20px;
  }
  .subscribe-btn {
    padding: 19px 12px;
  }

  /* footer */
  .footer-contents {
    flex-direction: column;
    gap: 20px;
  }
  .footer-middle {
    flex-direction: column;
    gap: 20px;
  }
  footer {
    max-width: 359px;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-left-subtitle {
    font-size: 16px;
  }
}
